<!-- https://getbootstrap.com/docs/5.0/examples/sidebars/# -->

<div class="d-flex flex-column align-items-stretch flex-shrink-0 bg-white">
    <div class="list-group list-group-flush border-bottom scrollarea">
      <a href="#" class="list-group-item list-group-item-action py-3 lh-tight" aria-current="true">
        <div class="d-flex w-100 align-items-center justify-content-between">
          <strong>List group item heading</strong>
          <small><img src="https://i.pinimg.com/originals/98/69/90/98699026d0d6aa7ae0d9de1eee70c81c.jpg" class="foodpic"></small>
        </div>
      </a>
      <a href="#" class="list-group-item list-group-item-action py-3 lh-tight">
        <div class="d-flex w-100 align-items-center justify-content-between">
          <strong>List group item heading</strong>
          <small><img src="https://i.pinimg.com/originals/98/69/90/98699026d0d6aa7ae0d9de1eee70c81c.jpg" class="foodpic"></small>
        </div>
      </a>
      <a href="#" class="list-group-item list-group-item-action py-3 lh-tight">
        <div class="d-flex w-100 align-items-center justify-content-between">
          <strong>List group item heading</strong>
          <small><img src="https://i.pinimg.com/originals/98/69/90/98699026d0d6aa7ae0d9de1eee70c81c.jpg" class="foodpic"></small>
        </div>
      </a>

      <a href="#" class="list-group-item list-group-item-action py-3 lh-tight" aria-current="true">
        <div class="d-flex w-100 align-items-center justify-content-between">
          <strong>List group item heading</strong>
          <small><img src="https://i.pinimg.com/originals/98/69/90/98699026d0d6aa7ae0d9de1eee70c81c.jpg" class="foodpic"></small>
        </div>
      </a>
      <a href="#" class="list-group-item list-group-item-action py-3 lh-tight">
        <div class="d-flex w-100 align-items-center justify-content-between">
          <strong>List group item heading</strong>
          <small><img src="https://i.pinimg.com/originals/98/69/90/98699026d0d6aa7ae0d9de1eee70c81c.jpg" class="foodpic"></small>
        </div>
      </a>
      <a href="#" class="list-group-item list-group-item-action py-3 lh-tight">
        <div class="d-flex w-100 align-items-center justify-content-between">
          <strong>List group item heading</strong>
          <small><img src="https://i.pinimg.com/originals/98/69/90/98699026d0d6aa7ae0d9de1eee70c81c.jpg" class="foodpic"></small>
        </div>
      </a>
      <a href="#" class="list-group-item list-group-item-action py-3 lh-tight" aria-current="true">
        <div class="d-flex w-100 align-items-center justify-content-between">
          <strong>List group item heading</strong>
          <small><img src="https://i.pinimg.com/originals/98/69/90/98699026d0d6aa7ae0d9de1eee70c81c.jpg" class="foodpic"></small>
        </div>
      </a>
      <a href="#" class="list-group-item list-group-item-action py-3 lh-tight">
        <div class="d-flex w-100 align-items-center justify-content-between">
          <strong>List group item heading</strong>
          <small><img src="https://i.pinimg.com/originals/98/69/90/98699026d0d6aa7ae0d9de1eee70c81c.jpg" class="foodpic"></small>
        </div>
      </a>
      <a href="#" class="list-group-item list-group-item-action py-3 lh-tight">
        <div class="d-flex w-100 align-items-center justify-content-between">
          <strong>List group item heading</strong>
          <small><img src="https://i.pinimg.com/originals/98/69/90/98699026d0d6aa7ae0d9de1eee70c81c.jpg" class="foodpic"></small>
        </div>
      </a>
      <a href="#" class="list-group-item list-group-item-action py-3 lh-tight" aria-current="true">
        <div class="d-flex w-100 align-items-center justify-content-between">
          <strong>List group item heading</strong>
          <small><img src="https://i.pinimg.com/originals/98/69/90/98699026d0d6aa7ae0d9de1eee70c81c.jpg" class="foodpic"></small>
        </div>
      </a>
      <a href="#" class="list-group-item list-group-item-action py-3 lh-tight">
        <div class="d-flex w-100 align-items-center justify-content-between">
          <strong>List group item heading</strong>
          <small><img src="https://i.pinimg.com/originals/98/69/90/98699026d0d6aa7ae0d9de1eee70c81c.jpg" class="foodpic"></small>
        </div>
      </a>
      <a href="#" class="list-group-item list-group-item-action py-3 lh-tight">
        <div class="d-flex w-100 align-items-center justify-content-between">
          <strong>List group item heading</strong>
          <small><img src="https://i.pinimg.com/originals/98/69/90/98699026d0d6aa7ae0d9de1eee70c81c.jpg" class="foodpic"></small>
        </div>
      </a>
    </div>
</div>

