<!-- https://getbootstrap.com/docs/5.0/examples/sidebars/# -->

<div class="d-flex flex-column align-items-stretch flex-shrink-0 bg-white" *ngIf="detail && detail.length != 0">
    <div class="list-group list-group-flush border-bottom scrollarea">
      <div class="area" *ngFor="let item of detail">
        <a href="#" class="list-group-item list-group-item-action py-3 lh-tight" aria-current="true">
          <div class="d-flex w-100 align-items-center justify-content-between">
            <strong>{{ item.link }}</strong>
          </div>
        </a>
        <button mat-button class="btn" style="border: 1px solid #e3e3e3;" (click)="openModalRemove()"><em class="fa fa-trash"></em></button>
      </div>
    </div>
</div>

<ng-template #contentAddRecipe let-c="close" let-d="dismiss" class="modal fade" data-toggle="modal" data-backdrop="static" data-keyboard="false">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Aggiungi una ricetta 🍰</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModal();" style="outline: none;">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form class="example-form">
        <mat-form-field class="example-full-width" appearance="fill" style="width: 100%;">
          <mat-label>Inserisci un link da salvare nella lista!</mat-label>
          <input matInput placeholder="https://www.youtube.com/vXs..." [(ngModel)]="recipe.link" [ngModelOptions]="{standalone: true}">
        </mat-form-field>
      </form>
    </div>
    <div class="modal-footer" style="margin-top: -1.34375em;">
      <button mat-button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModal();">Chiudi</button>
      <button mat-button type="button" class="btn btn-primary" style="border: 1px solid #0275d8;" (click)="saveRecipe();">Salva</button>
    </div>
  </div>
</ng-template>

<ng-template #contentRemoveRecipe let-c="close" let-d="dismiss" class="modal fade" data-toggle="modal" data-backdrop="static" data-keyboard="false">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Vuoi rimuovere questa ricetta? 🍰</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModal();" style="outline: none;">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
    </div>
    <div class="modal-footer" style="margin-top: -1.34375em;">
      <button mat-button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModal();">No, ci ho ripensato</button>
      <button mat-button type="button" class="btn btn-primary" style="border: 1px solid #0275d8;">Sì, lo voglio</button>
    </div>
  </div>
</ng-template>