<div class="row">
	<div class="col-md-12">
		<div class="row" >
			<div class="col-xl-12">
				<div class="row row-full-height">
					<div class="col-sm-12">
                        <nav class="navbar navbar-expand-lg navbar-light bg-light">
                            <a class="navbar-brand" href="#">IMG</a>
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                              <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                              <ul class="navbar-nav mr-auto"></ul>
                              <form class="form-inline my-2 my-lg-0">
                                <!-- <mat-divider></mat-divider><mat-divider></mat-divider><mat-divider></mat-divider> -->
                                <button mat-button type="button" class="btn btn-outline-success my-2 my-sm-0" (click)="openModal()">
                                    <i class="fa-solid fa-plus"></i>
                                </button>
                              </form>
                            </div>
                          </nav>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row" style="margin-top: -10px;">
	<div class="col-md-12">
		<div class="row"  >
			<div class="col-xl-2">
				<div class="row row-full-height">
					<div class="col-sm-12  ">
                        <p>Prova</p>
						<!-- <kt-portlet [class]="'kt-portlet--height-fluid'">
                            <kt-portlet-header [title]="'Filtro Ricerca'">
							</kt-portlet-header>
							<kt-portlet-body>
                                </kt-portlet-body>						 
						</kt-portlet> -->
					</div>
				</div>
			</div>
			<div class="col-xl-10">
				<div class="row row-full-height">
					<div class="col-sm-12  ">
                        <p>Prova</p>
						<!-- <kt-portlet [class]="'kt-portlet--height-fluid'">
                            <kt-portlet-header [title]="'Elenco Carburanti'">
								<ng-container ktPortletTools >
									<button  class="btn btn-success ripple light f-right" style="margin-left:10px;float: right;" (click)="aggiungiCarburante()" >
									<em class="fa fa-fw fa fa-plus"></em> Configura Carburante
                                </button>
                                </ng-container>
							</kt-portlet-header>
							<kt-portlet-body>
                                <p>OKOK</p>
							</kt-portlet-body>
						</kt-portlet> -->
					</div>
				</div>
			</div>
			<div class="col-xl-12">
				<div class="row row-full-height">
					<div class="col-sm-12  ">
						<!-- <kt-portlet [class]="'kt-portlet--height-fluid'">
                            <kt-portlet-header [title]="'Configura Impianto'">
							</kt-portlet-header>
							<kt-portlet-body>
                               <kt-impianto [edrc]="edrc" [nrImpianto]="nrImpianto" [callService]="callSericeImpianto" (valueChange)="output($event)"></kt-impianto>
							</kt-portlet-body>
						</kt-portlet> -->
					</div>
				</div>
			</div>
		</div>
	</div>	
</div>

